<h3>Edit Employee</h3>
<div class="container">
  <form #editEmp="ngForm" (ngSubmit)="onUpdate(editEmp.value)">
    <div class="form-group">
      <label for="name">Employee Name:</label>
      <input type="text" required  #refName="ngModel" minlength="3" maxlength="30" name="name" id="name" pattern="[a-zA-Z ]*$" class="form-control" [(ngModel)]="name"/>
      <div *ngIf="refName.errors && (refName.dirty||refName.touched)" class="alert alert-danger">
        <div [hidden]="!refName.errors.required">
          Please enter a name
        </div>
        <div [hidden]="!refName.errors.minlength">
          name must be 3 or more characters.
        </div>
        <div [hidden]="!refMob.errors.pattern">
          Please enter only alphabets.
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="location">Location</label>
      <select class="form-control" name="location" [(ngModel)]="location" id="location" value="location">
        <option>Banglore</option>
        <option>Chennai</option>
        <option>Pune</option>
        <option>Hyderabad</option>
      </select>
    </div>


    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" required email maxlength="30" #refMail="ngModel" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" value="email"class="form-control" [(ngModel)]="email"/>
      <div *ngIf="refMail.errors && (refMail.dirty||refMail.touched)" class="alert alert-danger">
        <div [hidden]="!refMail.errors.required">
          Please enter email
        </div>
        <div [hidden]="!refMail.errors.email">
          Please enter a valid email.
        </div>
        <div [hidden]="!refMob.errors.pattern">
        Please enter valid email
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input type="text" required pattern="^[1-9]\d{9}$" #refMob="ngModel" id="mobile" value="mobile" name="mobile" class="form-control" [(ngModel)]="mobile"/>
    </div>
    <div *ngIf="refMob.errors && (refMob.dirty || refMob.touched)" class="alert alert-danger">
      <div [hidden]="!refMob.errors.required">
        Please enter a mobile number.
      </div>
      <div [hidden]="!refMob.errors.pattern">
        Please enter valid mobile number
      </div>
    </div>
   
    <button [disabled]="!editEmp.form.valid" type="submit" id="update" class="btn btn-primary">Update</button>
  </form>
</div>